<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="tg-content" class="tg-content">
                <div class="tg-sectionhead tg-sectionheadvtwo">
                    <div class="tg-title">
                        <h2>Ayuda - Preguntas Frecuentes</h2>
                    </div>
                    <div class="tg-description">
                        <p>Aquí encontrarás las preguntas más frecuentes que te ayudarán a tener una mejor experiencia con nuestro servicio</p>
                    </div>

                </div>
                <div class="tg-faqarea" style="height: auto; max-height: 605px;">
                    <div class="tg-verticalscrollbar tg-dashboardscrollbar">
                        <div id="tg-themecollapse" class="tg-themecollapse tg-themecollapsefaq">
                            <div class="tg-collaptabpane">
                                <h3 class="open">¿Es un servicio GRATUITO?</h3>
                                <div class="tg-collapsecontent">
                                    <div class="tg-description"><p>Si, {{brand}} es un servicio de uso GRATUITO, también disponemos de algunas opciones adicionales o planes específicos que requieren pago</p></div>
                                </div>
                            </div>
                            <div class="tg-collaptabpane">
                                <h3>¿Cómo me registro en {{brand}}?</h3>
                                <div class="tg-collapsecontent">
                                    <div class="tg-description"><p>
                                        Podés registrarte en {{brand}} haciendo clic en el enlace "Registrarse" que se encuentra en la parte superior de la página. <br/>
                                        Si no estás registrado se te solicitará el registro al momento de publicar un anuncio y se brindarán opciones para hacerlo en ese momento.<br/>
                                        Recomendamos registrarse mediante la cuenta de Facebook ya que consideramos un medio más seguro y confiable para los demás usuarios.
                                    </p></div>
                                </div>
                            </div>
                            <div class="tg-collaptabpane">
                                <h3>¿Cómo publicar un anuncio?</h3>
                                <div class="tg-collapsecontent">
                                    <div class="tg-description"><p>
                                        Simplemente haz clic en el botón "Publicar Gratis", seleccionas una categoría y subcategoría y luego completás los datos básicos para el anuncio.<br/>
                                        En la mayoría de los casos se requerirá una foto o imagen para representar mejor el anuncio.
                                    </p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</div>
