<div id="tg-innerbanner" class="tg-innerbanner tg-haslayout">
    <figure class="item" [ngStyle]="{background: 'url(../../../assets/images/slider/img-03.jpg) 50%' + randomY + '% no-repeat'}">
        <figcaption>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-bannercontent">
                            <ng-adsense
                                    [adClient]="'ca-pub-0390212348928780'"
                                    [adSlot]="9585489796"
                                    [display]="'block'"
                                    [adFormat]="'auto'"
                            >
                            </ng-adsense>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<!--************************************
        Home Slider End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-content" class="tg-content">
                    <div class="tg-404content">
                        <div class="tg-404message">
                            <h2>403</h2>
                            <h3><span>Ups!</span> Acceso no autorizado</h3>
                        </div>
                        <p>Esta página requiere autorización para ingresar...</p>
                        <form class="tg-formtheme tg-form404search">
                            <fieldset>
                                <input type="search" name="search" class="form-control" placeholder="¿Qué estás buscando?">
                                <button class="tg-btn" type="button">Buscar</button>
                            </fieldset>
                        </form>
                        <div class="tg-description">
                            <span>O ir al <a href="javascript:void(0);" routerLink="/">Inicio</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--************************************
        Main End
*************************************-->
