<!--************************************
				Footer Start
		*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <nav class="tg-footernav">
        <ul>
            <li><a href="javascript:void(0);">Listing Policy</a></li>
            <li><a href="javascript:void(0);">Terms of Use</a></li>
            <li><a href="javascript:void(0);">Privacy Policy</a></li>
        </ul>
    </nav>
    <span class="tg-copyright">2017 All Rights Reserved &copy; Compra Venta Salta</span>
</footer>
<!--************************************
        Footer End
*************************************-->
