<!--************************************
				Home Slider Start
		*************************************-->
<div id="tg-innerbanner" class="tg-innerbanner tg-haslayout">
    <figure class="item" [ngStyle]="{background: 'url(../../../assets/images/slider/img-03.jpg) 50%' + randomY + '% no-repeat'}">
        <figcaption>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-bannercontent">
                            <ng-adsense
                                    [adClient]="'ca-pub-0390212348928780'"
                                    [adSlot]="4243519344"
                                    [display]="'inline-block'"
                                    [width]="728"
                                    [height]="90"
                            >
                            </ng-adsense>
                        </div>
                    </div>
                </div>
            </div>
        </figcaption>
    </figure>
</div>
<!--************************************
        Home Slider End
*************************************-->
