<!--************************************
				Footer Start
		*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <!--<div class="tg-footerbar">
        <app-newsletter></app-newsletter>
    </div>
    <div class="clearfix"></div>-->
    <div class="container">
        <div class="row">
            <div class="tg-footerinfo">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
                    <div class="tg-widget tg-widgetsearchbylocations">
                        <div class="tg-widgettitle">
                            <h3>Recomendado</h3>
                        </div>
                        <div class="tg-widgetcontent">
                            <ng-adsense
                                    [adClient]="'ca-pub-0390212348928780'"
                                    [adSlot]="9585489796"
                                    [display]="'block'"
                                    [adFormat]="'auto'"
                            >
                            </ng-adsense>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="tg-widget tg-widgettext">
                        <div class="tg-widgetcontent">
                            <strong class="tg-logo"><a href="javascript:void(0);"><img style="width: 200px;" src="assets/images/logo_4.png" alt="Compra Venta Salta :: Clasificados Gratis"></a></strong>
                            <div class="tg-description">
                                <p>Compra Venta Salta es un servicio de anuncios clasificados GRATUITO. Comprá y Vendé sin comisiones ni gastos adicionales. Encontrá lo que buscás acá cerca, en tu ciudad!.</p>
                            </div>
                            <div class="tg-followus">
                                <strong>Seguinos:</strong>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="https://www.facebook.com/compraventasalta.com.ar" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="https://twitter.com/CompraVentaSLA" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                <!--<ul class="tg-appsnav">
                                    <li><a href="javascript:void(0);"><img src="assets/images/apps-01.png" alt="image description"></a></li>
                                    <li><a href="javascript:void(0);"><img src="assets/images/apps-02.png" alt="image description"></a></li>
                                </ul>-->
                            </div>
                            <nav class="tg-footernav">
                                <ul>
                                    <li><a routerLink="/contacto-ayuda">Contacto y Ayuda</a></li>
                                    <li><a routerLink="/terminos-condiciones">Términos y Condiciones de Uso</a></li>
                                </ul>
                            </nav>
                            <span class="tg-copyright">2019 Todos los Derechos Reservados &copy; CompraVentaSalta</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--************************************
        Footer End
*************************************-->
